@model BackendTest1.Models.Register4
@{
    ViewData["Title"] = "RobotCreate";
}


<div class="row">
    <div class="col-12">
        <h2>Create Robot: Arms configuration (@ViewBag.Minus $ left)</h2>
    </div>
</div>
<form asp-action="Create4">
    <div class="row">
        <input type="hidden" asp-for="robotname" />
        <input type="hidden" asp-for="bodycurind" />
        <input type="hidden" asp-for="headind" />
        <input type="hidden" asp-for="modbodyind1" />
        <input type="hidden" asp-for="modbodyind2" />

        <div class="col-12">
            <div class="row">
                <div class="col-8 offset-2 mb-2">
                    <label>Robot Arms type</label>
               
                    @{
                        for (int i = 0; i < Model.modifications.Count; i++)
                        {
                            if (Model.modifications[i].type == 5)
                            {
                                <div class="form-check">
                                    <input asp-for="armind" value="@i" type="radio" id="bodyType_@i" checked>
                                    <label class="form-check-label" for="bodyType1">
                                        @Model.modifications[i].name @Model.modifications[i].cost $
                                    </label>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-2"><button type="submit" name="action" value="back" class="btn btn-primary">Back</button></div>
                <div class="col-4 col-md-2"> </div>
                <div class="col-2"><button type="submit" name="action" value="submit" class="btn btn-primary">Next</button></div>
            </div>
        </div>
    </div>
</form>