@model BackendTest1.Models.RegisterModel2
@{
    ViewData["Title"] = "RobotCreate";
}


<div class="row">
    <div class="col-12">
        <h2>Create Robot: Head configuration (@ViewBag.Minus) left</h2>
    </div>
</div>
<input type="hidden" asp-for="robotname" />
<input type="hidden" asp-for="bodycurind" />
<form asp-action="Create2">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-8 offset-2 mb-2">
                    <label>Robot head type</label>

                    @{
                        for (int i = 0; i < Model.modifications.Count; i++)
                        {
                            if (Model.modifications[i].type == 2)
                            {
                                <div class="form-check">
                                    <input asp-for="headind" value="@i" type="radio" id="bodyType_@i" checked>
                                    <label class="form-check-label" for="bodyType1">
                                        @Model.modifications[i].name @Model.modifications[i].cost $
                                    </label>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-2"><a href="#" class="btn btn-primary">Back</a></div>
                <div class="col-4 col-md-2"> </div>
                <div class="col-2"><button type="submit" class="btn btn-primary">Next</button></div>
            </div>
        </div>
    </div>
</form>
