@model dynamic
@{
    ViewBag.Title = "Mockups";
}

<h1>Mockups</h1>

<ul>
    <li><a asp-action="MainPage">Main Page</a></li>
    <li><a asp-action="RobotCreate">Create</a></li>
    <li><a asp-action="RobotCreateTwo">Create 2</a></li>
    <li><a asp-action="RobotCreateThree">Create 3</a></li>
    <li><a asp-action="RobotCreateFour">Create 4</a></li>
    <li><a asp-action="RobotEdit">Edit</a></li>
    <li><a asp-action="RobotDelete">Delete</a></li>
    <li><a asp-action="RobotDetails">Details</a></li>
</ul>