<div class="row">
    <div class="col-12">
        <h2>Big Robot</h2>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2">
        <strong>Body type</strong>: Body Type 1 (200$) <br />
        <strong>Body mods</strong>:  <br />
        <ul>
            <li>Mod 3 (250$)</li>
            <li>Mod 2 (250$)</li>
        </ul>
        <strong>Head type</strong>: Head Type 1 (200$) <br />
        <strong>Head mods</strong>:  <br />
        <ul>
            <li>Head mod 1 (50$)</li>
            <li>Head mod 4 (75$)</li>
        </ul>
        <strong>Arms type</strong>: Arms Type 1 (200$) <br />
        <strong>Arms mods</strong>:  <br />
        <ul>
            <li>Arms mod 1 (50$)</li>
        </ul>
        <strong>Total mods</strong>: 5 <br />
        <strong>Total cost</strong>: 1275$<br />
    </div>
</div>