@{
    ViewData["Title"] = "RobotCreate";
}


<div class="row">
    <div class="col-12">
        <h2>Create Robot: Arms configuration (2000$ left)</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-8 offset-2 mb-2">
                <label>Robot Arms type</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ArmsType" id="ArmsType1" value="1" checked>
                    <label class="form-check-label" for="ArmsType1">
                        Arms Type 1 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ArmsType" id="ArmsType2" value="2">
                    <label class="form-check-label" for="ArmsType2">
                        Arms Type 2 (300$)
                    </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="ArmsType" id="ArmsType3" value="3" disabled>
                    <label class="form-check-label" for="ArmsType3">
                        Arms Type 3 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ArmsType" id="ArmsType4" value="4">
                    <label class="form-check-label" for="ArmsType4">
                        Arms Type 4 (200$)
                    </label>
                </div>
                <label class="mt-2">Robot Arms mods</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod1">
                    <label class="form-check-label" for="Armsmod1">
                        Arms mod 1 (50$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod2">
                    <label class="form-check-label" for="Armsmod2">
                        Arms mod 2 (50$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod3">
                    <label class="form-check-label" for="Armsmod3">
                        Arms mod 3 (750$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod4">
                    <label class="form-check-label" for="Armsmod4">
                        Arms mod 4 (75$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod5">
                    <label class="form-check-label" for="Armsmod5">
                        Arms mod 5 (50$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod6" disabled>
                    <label class="form-check-label" for="Armsmod6">
                        Arms mod 6 (50$)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-2"><a href="#" class="btn btn-primary">Back</a></div>
            <div class="col-4 col-md-2"> </div>
            <div class="col-2"><a href="#" class="btn btn-primary">Next</a></div>
        </div>
    </div>
</div>

