@{
    ViewData["Title"] = "RobotCreate";
}


<div class="row">
    <div class="col-12">
        <h2>Create Robot: Head configuration (7500$ left)</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-8 offset-2 mb-2">
                <label>Robot head type</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="HeadType" id="HeadType1" value="1" checked>
                    <label class="form-check-label" for="HeadType1">
                        Head Type 1 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="HeadType" id="HeadType2" value="2">
                    <label class="form-check-label" for="HeadType2">
                        Head Type 2 (300$)
                    </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="HeadType" id="HeadType3" value="3" disabled>
                    <label class="form-check-label" for="HeadType3">
                        Head Type 3 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="HeadType" id="HeadType4" value="4">
                    <label class="form-check-label" for="HeadType4">
                        Head Type 4 (200$)
                    </label>
                </div>
                <label class="mt-2">Robot head mods</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod1">
                    <label class="form-check-label" for="headmod1">
                        Head mod 1 (50$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod2">
                    <label class="form-check-label" for="headmod2">
                        Head mod 2 (50$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod3">
                    <label class="form-check-label" for="headmod3">
                        Head mod 3 (750$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod4">
                    <label class="form-check-label" for="headmod4">
                        Head mod 4 (75$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod5">
                    <label class="form-check-label" for="headmod5">
                        Head mod 5 (50$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod6" disabled>
                    <label class="form-check-label" for="headmod6">
                        Head mod 6 (50$)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-2"><a href="#" class="btn btn-primary">Back</a></div>
            <div class="col-4 col-md-2"> </div>
            <div class="col-2"><a href="#" class="btn btn-primary">Next</a></div>
        </div>
    </div>
</div>

