@{
    ViewData["Title"] = "RobotCreate";
}


<div class="row">
    <div class="col-12">
        <h2>Create Robot: Body mods (5000$ left)</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-8 offset-2 mb-2">
                <label class="mt-2">Robot body mods</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Mod 1</label>
                            <button class="btn btn-danger">Del</button>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>Random Mod</option>
                                <option>Mod 1 (50$)</option>
                                <option disabled>Mod 2 (250$)</option>
                                <option selected>Mod 3 (250$)</option>
                                <option>Mod 4 (150$)</option>
                                <option disabled>Mod 5 (1250$)</option>
                                <option>Mod 6 (200$)</option>
                                <option>Mod 7 (250$)</option>
                                <option disabled>Mod 8 (250$)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Mod 2</label>
                            <button class="btn btn-danger">Del</button>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>Random Mod</option>
                                <option>Mod 1 (50$)</option>
                                <option selected>Mod 2 (250$)</option>
                                <option disabled>Mod 3 (250$)</option>
                                <option>Mod 4 (150$)</option>
                                <option disabled>Mod 5 (1250$)</option>
                                <option>Mod 6 (200$)</option>
                                <option>Mod 7 (250$)</option>
                                <option disabled>Mod 8 (250$)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Add</button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-2"><a href="#" class="btn btn-primary">Back</a></div>
            <div class="col-4 col-md-2"> </div>
            <div class="col-2"><a href="#" class="btn btn-primary">Next</a></div>
        </div>
    </div>
</div>

