<div class="row">
    <div class="col-12">
        <h2>Edit Big Robot (6500$ left)</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-8 offset-2 mb-4">
                <div class="form-group">
                    <label for="robotName">Name</label>
                    <input class="form-control" id="robotName" placeholder="Enter robot name" value="Big Robot">
                </div>
                <label>Robot body type</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="bodyType" id="bodyType1" value="1" checked>
                    <label class="form-check-label" for="bodyType1">
                        Body Type 1 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="bodyType" id="bodyType2" value="2">
                    <label class="form-check-label" for="bodyType2">
                        Body Type 2 (300$)
                    </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="bodyType" id="bodyType3" value="3" disabled>
                    <label class="form-check-label" for="bodyType3">
                        Body Type 3 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="bodyType" id="bodyType4" value="4">
                    <label class="form-check-label" for="bodyType4">
                        Body Type 4 (200$)
                    </label>
                </div>

                <label class="mt-2">Robot head type</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="HeadType" id="HeadType1" value="1" checked>
                    <label class="form-check-label" for="HeadType1">
                        Head Type 1 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="HeadType" id="HeadType2" value="2">
                    <label class="form-check-label" for="HeadType2">
                        Head Type 2 (300$)
                    </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="HeadType" id="HeadType3" value="3" disabled>
                    <label class="form-check-label" for="HeadType3">
                        Head Type 3 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="HeadType" id="HeadType4" value="4">
                    <label class="form-check-label" for="HeadType4">
                        Head Type 4 (200$)
                    </label>
                </div>
                <label class="mt-2">Robot head mods</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod1" checked>
                    <label class="form-check-label" for="headmod1">
                        Head mod 1 (50$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod2">
                    <label class="form-check-label" for="headmod2">
                        Head mod 2 (50$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod3">
                    <label class="form-check-label" for="headmod3">
                        Head mod 3 (750$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod4" checked>
                    <label class="form-check-label" for="headmod4">
                        Head mod 4 (75$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod5">
                    <label class="form-check-label" for="headmod5">
                        Head mod 5 (50$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="headmod6" disabled>
                    <label class="form-check-label" for="headmod6">
                        Head mod 6 (50$)
                    </label>
                </div>
                <label class="mt-2">Robot body mods</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Mod 1</label>
                            <button class="btn btn-danger">Del</button>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>Random Mod</option>
                                <option>Mod 1 (50$)</option>
                                <option disabled>Mod 2 (250$)</option>
                                <option selected>Mod 3 (250$)</option>
                                <option>Mod 4 (150$)</option>
                                <option disabled>Mod 5 (1250$)</option>
                                <option>Mod 6 (200$)</option>
                                <option>Mod 7 (250$)</option>
                                <option disabled>Mod 8 (250$)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Mod 2</label>
                            <button class="btn btn-danger">Del</button>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>Random Mod</option>
                                <option>Mod 1 (50$)</option>
                                <option selected>Mod 2 (250$)</option>
                                <option disabled>Mod 3 (250$)</option>
                                <option>Mod 4 (150$)</option>
                                <option disabled>Mod 5 (1250$)</option>
                                <option>Mod 6 (200$)</option>
                                <option>Mod 7 (250$)</option>
                                <option disabled>Mod 8 (250$)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Add</button>                    
                </div>
                <label>Robot Arms type</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ArmsType" id="ArmsType1" value="1" checked>
                    <label class="form-check-label" for="ArmsType1">
                        Arms Type 1 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ArmsType" id="ArmsType2" value="2">
                    <label class="form-check-label" for="ArmsType2">
                        Arms Type 2 (300$)
                    </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="ArmsType" id="ArmsType3" value="3" disabled>
                    <label class="form-check-label" for="ArmsType3">
                        Arms Type 3 (200$)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ArmsType" id="ArmsType4" value="4">
                    <label class="form-check-label" for="ArmsType4">
                        Arms Type 4 (200$)
                    </label>
                </div>
                <label class="mt-2">Robot Arms mods</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod1" checked>
                    <label class="form-check-label" for="Armsmod1">
                        Arms mod 1 (50$) [For BT 1, 2, 4]
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod2">
                    <label class="form-check-label" for="Armsmod2">
                        Arms mod 2 (50$) [For BT 2, 4]
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod3">
                    <label class="form-check-label" for="Armsmod3">
                        Arms mod 3 (750$) [For BT 1, 2, 3, 4]
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod4">
                    <label class="form-check-label" for="Armsmod4">
                        Arms mod 4 (75$) [For BT 1, 2]
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod5">
                    <label class="form-check-label" for="Armsmod5">
                        Arms mod 5 (50$) [For BT 1, 2, 3]
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="Armsmod6" disabled>
                    <label class="form-check-label" for="Armsmod6">
                        Arms mod 6 (50$) [For BT 1, 3, 4]
                    </label>
                </div>
                <div class="form-group mt-4">
                    <button class="btn btn-success">Save</button>                    
                </div>
            </div>
        </div>



    </div>
</div>

