<div class="row">
    <div class="col-12">
        <h2>Delete Big Robot</h2>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2">
        Are you sure you want to delete this robot? <br />
        It costs 5000$<br />
        And contains of 12 mods. <br />
        <br />
        <button type="button" class="btn btn-danger">Yes, delete this robot</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </div>
</div>