@model BackendTest1.Models.StorageViewModel
@{
    ViewBag.Title = "Main page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Construct a robot - Backend midterm 1</h1>
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Statistics and availability info
                </h2>
            </div>
            <div class="col-lg-3 col-md-6">
                <strong>$</strong>: value left / used <br />
                <strong>Robots created</strong>: value <br />
                <strong>Robots destroyed</strong>: value <br />
                <strong>Modules</strong>: value left / used <br />
                <br />
                <strong>Base1</strong>: value left / used <br />
                <strong>Base2</strong>: value left / used <br />
                <strong>Base3</strong>: value left / used <br />
                <strong>Base4</strong>: value left / used <br />
                <br />
            </div>
            <div class="col-lg-3 col-md-6">
                @{
                    for (int i = 0; i < Model.modifications.Count; i++)
                    {
                        if (Model.modifications[i].type == 2)
                        {
                            <strong>@Model.modifications[i].name</strong><p>@Model.modifications[i].count</p><br />
                        }
                    }

                }
              
                <br />
            </div>
            <div class="col-lg-3 col-md-6">
                <strong>BodyMod1</strong>: value left / used <br />
                <strong>BodyMod2</strong>: value left / used <br />
                <strong>BodyMod3</strong>: value left / used <br />
                <strong>BodyMod4</strong>: value left / used <br />
                <strong>BodyMod5</strong>: value left / used <br />
                <strong>BodyMod6</strong>: value left / used <br />
                <strong>BodyMod7</strong>: value left / used <br />
                <strong>BodyMod8</strong>: value left / used <br />
                <strong>BodyMod9</strong>: value left / used <br />
                <br />
            </div>
            <div class="col-lg-3 col-md-6">
                <strong>ArmType1</strong>: value left / used <br />
                <strong>ArmType2</strong>: value left / used <br />
                <strong>ArmType3</strong>: value left / used <br />
                <strong>ArmType4</strong>: value left / used <br />
                <strong>ArmType5</strong>: value left / used <br />
                <strong>ArmType6</strong>: value left / used <br />
                <strong>ArmType7</strong>: value left / used <br />
                <br />
                <strong>ArmMod1</strong>: value left / used <br />
                <strong>ArmMod2</strong>: value left / used <br />
                <strong>ArmMod3</strong>: value left / used <br />
                <strong>ArmMod4</strong>: value left / used <br />
                <strong>ArmMod5</strong>: value left / used <br />
                <strong>ArmMod6</strong>: value left / used <br />
                <strong>ArmMod7</strong>: value left / used <br />
                <strong>ArmMod8</strong>: value left / used <br />
                <strong>ArmMod9</strong>: value left / used <br />
                <br />
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <a class="btn btn-info" href="#">
                    Create new
                </a>
            </div>
        </div>
        <div class="row robots-list">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body pb-1">
                        <div class="stretched-wrapper position-relative">
                            <h5 class="card-title"><a href="#" class="stretched-link">Robot Title</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">BodyType</h6>
                            <p class="card-text mb-2">
                                <strong>$</strong>: 500 <br />
                                <strong>Modules</strong>: 10
                            </p>
                        </div>
                        <div class="row">
                            <a href="#" class="col-6 btn btn-warning rounded-0">Edit</a>
                            <a href="#" class="col-6 btn btn-danger rounded-0">Del</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body pb-1">
                        <div class="stretched-wrapper position-relative">
                            <h5 class="card-title"><a href="#" class="stretched-link">Robot Title</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">BodyType</h6>
                            <p class="card-text mb-2">
                                <strong>$</strong>: 500 <br />
                                <strong>Modules</strong>: 10
                            </p>
                        </div>
                        <div class="row">
                            <a href="#" class="col-6 btn btn-warning rounded-0">Edit</a>
                            <a href="#" class="col-6 btn btn-danger rounded-0">Del</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body pb-1">
                        <div class="stretched-wrapper position-relative">
                            <h5 class="card-title"><a href="#" class="stretched-link">Robot Title</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">BodyType</h6>
                            <p class="card-text mb-2">
                                <strong>$</strong>: 500 <br />
                                <strong>Modules</strong>: 10
                            </p>
                        </div>
                        <div class="row">
                            <a href="#" class="col-6 btn btn-warning rounded-0">Edit</a>
                            <a href="#" class="col-6 btn btn-danger rounded-0">Del</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body pb-1">
                        <div class="stretched-wrapper position-relative">
                            <h5 class="card-title"><a href="#" class="stretched-link">Robot Title</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">BodyType</h6>
                            <p class="card-text mb-2">
                                <strong>$</strong>: 500 <br />
                                <strong>Modules</strong>: 10
                            </p>
                        </div>
                        <div class="row">
                            <a href="#" class="col-6 btn btn-warning rounded-0">Edit</a>
                            <a href="#" class="col-6 btn btn-danger rounded-0">Del</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body pb-1">
                        <div class="stretched-wrapper position-relative">
                            <h5 class="card-title"><a href="#" class="stretched-link">Robot Title</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">BodyType</h6>
                            <p class="card-text mb-2">
                                <strong>$</strong>: 500 <br />
                                <strong>Modules</strong>: 10
                            </p>
                        </div>
                        <div class="row">
                            <a href="#" class="col-6 btn btn-warning rounded-0">Edit</a>
                            <a href="#" class="col-6 btn btn-danger rounded-0">Del</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

